html, body {
    height: 100%;
    background-color: #C0C0C0;
}

html {
    display: table;
    width: 100%;
}

body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 200%;
    font-family: "Verdana", Geneva, sans-serif;
}

input {
    text-align: center;
    background-color: white;
    padding: 15px;

}

h1 {
    font-weight: bold;
    color: white;
}

h3 {
    color: white;
}

.button {
    background-color: #C0C0C0;
    color: white;
    width: 300px;
    border: 3px solid #FFFFFF !important;
}

.button:hover {
    background-color: #808080;
}

#buttonPadding{
    padding-top: 20px;
    padding-bottom: 20px;
}

select {
    padding: 15px;
    text-align-last: center;
    
}

#fillTextbox {
    color: #ba0000;
}

#confirm {
    color: #008800;
}

#textBox{
    width: 604px;
    height: 350px;
}

#textareaPadding{
    padding-top:20px;
}

/* Informationbox for each webb */
::-webkit-input-placeholder {
   text-align: center;
   padding-top:20px;
   padding-bottom: 20px;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
   padding-top:20px;
   padding-bottom: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
   padding-top:20px;
   padding-bottom: 20px;
}

:-ms-input-placeholder {  
   text-align: center; 
   padding-top:20px;
   padding-bottom: 20px;
}
.buttonLinks{
    background-color: #C0C0C0;
    color: white;
    width: 300px;
    border: 3px solid #FFFFFF !important;
}

.buttonLinks:hover {
    background-color: #808080;
}

#linkcol input{
    width: 100%;
}

#linkcol{
    padding:0;
}
