/*!
VAPENKARTA ADMIN
Created by Team Chaos - 2018
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Oswald');

html, body {
    width: 100%;
    height: 100%;
    background-color: #333138;
    text-align: center;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6, .navbar, .dropdown-menu, .navbar-brand {   /* Headers, navbar & dropdown*/
    font-family: 'Oswald', sans-serif;
    color:white !important;
}

#admin-form {    /*Form*/  
    color: #333138;
}

#admin-form input, select, textarea { /*Form elements*/
    font-family: sans-serif; 
}

/**********
 * Navbar *
 **********/
.navbar  .nav-link, .navbar-brand { 
    color:white !important;
    font-size: 20px;
}
.navbar .nav-link:hover {
    color: #ECEBEE !important;
}
.navbar-brand:hover {
    color: white;
}
.navbar .nav-link > a:hover {
    color: white;
}
.navbar-nav > li {
    margin-left: 20px;
}

/************
 * Dropdown *
 ************/
.dropdown-menu {
    border: none;
    margin: 0;
    border-radius: 0 0 3px 3px !important;
    font-size: 18px;
}
.dropdown-menu a {
    line-height: 40px;
}
.dropdown-menu a:hover {
    background-color: #ECEBEE;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #ECEBEE;
    color: #333138;
}

.dropdown-start:hover > .dropdown-menu {
    display: block;  
}

/**********
 *  Form  *
 **********/
.header-form {
    padding-bottom: 45px;
    padding-top: 6vh;
}
#admin-form {
    background-color: #ECEBEE;
    padding: 30px;
    border-radius: 5px;
}
.validation-error {
    color: #dc3545;
    position: absolute;
    font-size: 80%;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    fill: currentColor;
    font-size: 24px;
    vertical-align: top;
}
.link-icon:hover {
    color: #9E9DA2;
    cursor: pointer;
}
.icon-remove {
   position: absolute; 
   right: 10px;
}
#button-form {
    background-color: #C0C0C0;
    width: 70%;
    color: inherit; 
}
#button-form:hover {
    background-color: #9E9DA2;
}
#textarea-admin {
    min-width: 100%;
    min-height: 250px;
    max-height: 500px;
}
.textarea-edit{
    height: 500px;
}
.form-group {
    margin-bottom: 30px;
    text-align: left;
}

/**************
 * Link cards *
 **************/
#card-wrapper {
    max-height: 500px;
    overflow-y: auto;
    text-align: center;
}
.card .form-control {
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card .list-group-item {
    border: none;
}

/*************
 * Startpage *
 *************/
#admin-header {
    top: 18vh;
    right: 0;
    left: 0;
    position: absolute;
}

/* Columns */
.page-column {
    height: 220px;
}
.page-column-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 4px white solid;
}

/* Column background */
.map-bg, .stats-bg, .participants-bg {
    background-position: center;
}
.map-bg{background-image: url('./../Style/images/map-bg.png');}
.stats-bg{background-image: url('./../Style/images/stats-bg.png');}
.participants-bg{background-image: url('./../Style/images/participants-bg.png');}


  

  
/* ? */
/* #fillTextbox {
    color: #ba0000;
}
#confirm {
    color: #008800;
}
.activeTab{
    text-decoration: underline;
} */
