<!DOCTYPE html>
<html>
<head>
    <title>Redigera data</title>
    <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/bootstrap-theme.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-git.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
    <script src="./../Scripts/dataform.js" defer="defer"></script>
    <script src="./../Scripts/bootstrap.min.js"></script>


</head>
    <body>
        <div class="container">
        <div>
            <h1>Fyll i nedan</h1>
            <br />
            <form>
                <input type="text" placeholder="Land" data-bind="value: country" /><br />
                <input type="text" placeholder="Landskod" data-bind="value: code" /><br />
                <input type="text" placeholder="Demokratisk status" data-bind="value: FHstatus" /><br />
                <input type="text" placeholder="GPI - ranking" data-bind="value: gpi" /><br />
                <div class="linkfield">
                    <button class="buttonLinks">Lägg till flera länkar</button>
                    <div class="row">
                        <div id="linkcol" class=" offset-sm-2 col-sm-4"><input type="text" placeholder="Länk" data-bind="value: links" /><br /></div>
                        <div id="linkcol" class="col-sm-4 offset-sm-2 "><input type="text" placeholder="Titel" data-bind="value: title" /><br /></div>
                    </div>
                </div>

                <h3>Välj världsdel</h3>
                <select>
                    <option name="collection" value="EU" data-bind="checked: collection">Europa</option>
                    <option name="collection" value="AS" data-bind="checked: collection">Asien</option>
                    <option name="collection" value="NA" data-bind="checked: collection">Nordamerika</option>
                    <option name="collection" value="AF" data-bind="checked: collection">Afrika</option>
                    <option name="collection" value="OC" data-bind="checked: collection">Oceanien</option>
                    <option name="collection" value="SA" data-bind="checked: collection">Sydamerika</option>
                </select><br/>
                <div id="textareaPadding">
                    <textarea id="textBox" type="text" placeholder="Information" data-bind="value: info"></textarea><br/>
                </div>
                
                <div id="buttonPadding" >
                    <input class="button" type="submit" value="Lägg till" data-bind="click: postCountry" /> <span id="confirm"></span>
                </div>
                
                <p id="fillTextbox"></p>

            </form>
        </div>
        </div>
    </body>
</html>