<!DOCTYPE html>
<html>
    <head>
        <title>Redigera data</title>
        <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="./../Style/bootstrap-theme.min.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen"/>
        <script src="http://code.jquery.com/jquery-git.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
        <script src="./../Scripts/dataform.js" defer="defer"></script>
        <script src="./../Scripts/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <h1>Fill in here</h1>
            <br />
            <form>
                <input type="text" placeholder="Country"><br />
                <input type="text" placeholder="Code"><br />
                <input type="text" placeholder="Weapons"><br />
                <input type="text" placeholder="Info"><br />
                <input type="text" placeholder="Links"><br /><br />
               

                <select>
                    <option name="collection" value="EU" data-bind="checked: collection">Europe</option>
                    <option name="collection" value="AS" data-bind="checked: collection">Asia</option>
                    <option name="collection" value="NA" data-bind="checked: collection">North America</option>
                    <option name="collection" value="AF" data-bind="checked: collection">Africa</option>
                    <option name="collection" value="OC" data-bind="checked: collection">Oceania</option>
                    <option name="collection" value="SA" data-bind="checked: collection">South America</option>
                </select>
                <br /><br />

                <input class="button" type="button" value="Submit" data-bind="click: postCountry"> <span id="confirm"></span>




            </form>
        </div>
    </body>
</html>