<!DOCTYPE html>
<html>
<head>
    <!--metadata-->
    <title>Redigera Vapenkarta</title>
    <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/bootstrap-grid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-git.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
    <script src="./../Scripts/bootstrap.min.js"></script>
    <!--metadata ends-->
</head>
<body>
    <div class="container h-100">
        <div class="row align-content-center h-100">

            <div class="col-lg-4">
                <div class="page-column">

                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-column">

                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-column">

                </div>
            </div>
            
        </div>
    </div>
</body>
</html>