<!-- VAPENKARTA ADMIN
Created by Team Chaos - 2018

Petter Knutsson - petterknutsson5@gmail.com
Viola Turesson - violaturesson@gmail.com
Jenny Miderkvist - jenny.miderkvist@gmail.com
Joakim Linna - joakimlinna1998@gmail.com -->

<!DOCTYPE html>
<html>
<head>
    <!--Metadata-->
    <title>Lägg till aktör</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" charset="utf-8">
    <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-git.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
    <script src="./../Scripts/partsAdd.js" defer="defer"></script>
    <script src="./../Scripts/bootstrap.min.js"></script>
</head>
<body lang="sv">
    <!--SVG icons-->
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
        <symbol id="icon-minus-square-o" viewBox="0 0 22 28">
        <title>minus-square-o</title>
        <path d="M18 12.5v1c0 0.281-0.219 0.5-0.5 0.5h-13c-0.281 0-0.5-0.219-0.5-0.5v-1c0-0.281 0.219-0.5 0.5-0.5h13c0.281 0 0.5 0.219 0.5 0.5zM20 19.5v-13c0-1.375-1.125-2.5-2.5-2.5h-13c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5zM22 6.5v13c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h13c2.484 0 4.5 2.016 4.5 4.5z"></path>
        </symbol>
        <symbol id="icon-plus-square-o" viewBox="0 0 22 28">
        <title>plus-square-o</title>
        <path d="M18 12.5v1c0 0.281-0.219 0.5-0.5 0.5h-5.5v5.5c0 0.281-0.219 0.5-0.5 0.5h-1c-0.281 0-0.5-0.219-0.5-0.5v-5.5h-5.5c-0.281 0-0.5-0.219-0.5-0.5v-1c0-0.281 0.219-0.5 0.5-0.5h5.5v-5.5c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5v5.5h5.5c0.281 0 0.5 0.219 0.5 0.5zM20 19.5v-13c0-1.375-1.125-2.5-2.5-2.5h-13c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5zM22 6.5v13c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h13c2.484 0 4.5 2.016 4.5 4.5z"></path>
        </symbol>
        </defs>
    </svg>

    <!-- Main content -->
    <div class="container">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="index.html"><img class="mr-2" src="./../Style/images/svenska_freds-logo.png" height="65" alt="Svenska Freds logotyp" > Vapenkarta Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KARTA</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="mapAdd.html">Lägg till</a>
                            <a class="dropdown-item" href="mapUpdate.html">Redigera</a>
                            <a class="dropdown-item" href="mapDelete.html">Radera</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STATISTIK</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="statisticsAdd.html">Lägg till</a>
                            <a class="dropdown-item" href="statisticsUpdate.html">Redigera</a>
                            <a class="dropdown-item" href="statisticsDelete.html">Radera</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle activeTab" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AKTÖRER</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item active" href="participantsAdd.html">Lägg till</a>
                            <a class="dropdown-item" href="participantsUpdate.html">Redigera</a>
                            <a class="dropdown-item" href="participantsDelete.html">Radera</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        
        <div class="row justify-content-center">
            <!--Form header-->
            <div class="header-form col-lg-12">
                <h1>LÄGG TILL AKTÖR</h1>
            </div>
            <!--Form wrapper-->
            <div id="admin-form" class="col-md-8 col-lg-8">
                <!--Form with knockout.js validation-->
                <form>
                    <div class="row">
                        <!--Image URL input-->
                        <div class="form-group col-md-8" data-bind="css: {error: img.hasError}">
                                <label for="img">Bildlänk</label>
                                <input class="form-control" id="img" type="text" placeholder="Bildlänk" data-bind="value: img, valueUpdate: 'afterkeydown'">
                                <span class="validation-error" data-bind="visible: img.hasError, text: img.validationMessage"></span>
                        </div>
                        <!--Image title input-->
                        <div class="form-group col-md-4" data-bind="css: {error: title.hasError}">
                                <label for="title">Bildtitel</label>
                                <input class="form-control" id="title" type="text" placeholder="Titel" data-bind="value: title, valueUpdate: 'afterkeydown'">
                                <span class="validation-error" data-bind="visible: title.hasError, text: title.validationMessage"></span>
                        </div>
                    </div>

                    <div class="row pt-5">
                        <!-- Hyperlink cards -->
                        <div class="col-md-4">
                                <div class="link-icon mb-2" data-bind="click: function() {links.push({logoTitle:'', logoLink:''});}">
                                    Länk<svg class="icon icon-question-circle ml-1"><use xlink:href="#icon-plus-square-o"></use></svg>
                                </div>
                                
                                <div id="card-wrapper" data-bind="foreach: links">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            Länk
                                            <span class="link-icon icon-remove" data-bind="click: function() {viewModel.links.remove($data);}">
                                                <svg class="icon icon-question-circle"><use xlink:href="#icon-minus-square-o"></use></svg>
                                            </span>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <input class="form-control" type="text" placeholder="Titel" data-bind="value: logoTitle, valueUpdate: 'afterkeydown'">
                                            </li>
                                            <li class="list-group-item">
                                                <input class="form-control" type="text" placeholder="Länk" data-bind="value: logoLink, valueUpdate: 'afterkeydown'">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                        <!--Textbox + button-->
                        <div class="col-md-8">
                            <div class="form-group" data-bind="css: {error: info.hasError}">
                                    <label>Information</label>
                                    <textarea class="form-control" id="textarea-admin" type="text" placeholder="Information" data-bind="value: info, valueUpdate: 'afterkeydown'"></textarea>
                                    <span class="validation-error" data-bind="visible: info.hasError, text: info.validationMessage"></span>
                            </div>
                            <button id="button-form" class="mt-3 btn" type="submit" data-bind="click: postPart">Lägg till aktör</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</body>
</html>