<html>
<head>
    <!--metadata-->
    <title>Ta bort aktör</title>
    <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/bootstrap-grid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-git.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
    <script src="./../Scripts/partsDelete.js" defer="defer"></script>
    <script src="./../Scripts/bootstrap.min.js"></script>
    <!--metadata ends-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
               <!--navbar--> 
                <nav class="navbar navbar-expand-lg  " id="navbarStyle">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container-fluid collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <!--navbar items-->
                            <li class="nav-item dropdown">
                                <!--map -->
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KARTA</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdownStyle">
                                    <a class="dropdown-item" href="mapAdd.html">Lägg till</a>
                                    <a class="dropdown-item" href="mapUpdate.html">Redigera</a>
                                    <a class="dropdown-item" href="mapDelete.html">Ta bort</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <!--statistics-->
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STATISTIK</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdownStyle">
                                    <a class="dropdown-item" href="statisticsAdd.html">Lägg till</a>
                                    <a class="dropdown-item" href="statisticsUpdate.html">Redigera</a>
                                    <a class="dropdown-item" href="statisticsDelete.html">Ta bort</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <!--participants-->
                                <a class="nav-link dropdown-toggle activeTab" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AKTÖRER</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdownStyle">
                                    <a class="dropdown-item" href="participantsAdd.html">Lägg till</a>
                                    <a class="dropdown-item" href="participantsUpdate.html">Redigera</a>
                                    <a class="dropdown-item active" href="participantsDelete.html">Ta bort</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--navbar ends-->
            </div>
            <!--title-->
            <div id="headerForm" class="col-lg-12">
                TA BORT EN AKTÖR
            </div>
            <!--add form-->
            <div id="countryForm" class="col-lg-8 offset-lg-2">
                <form>
                    <div class="form">
                        <div class="row">
                            <!--title-->
                            <div class="form-group col-md-4">
                                <p data-bind="css: {error: selectedPart.hasError}">
                                    <label for="title">Bildtitel</label>
                                    <select class="form-control" id="title" type="text" data-bind="options: parts, optionsText: 'Title', value: selectedPart, valueUpdate: 'afterkeydown', optionsCaption:'-- Välj Aktör --'"></select>
                                    <span data-bind="visible: selectedPart.hasError, text: selectedPart.validationMessage"></span>
                                </p>
                            </div>
                            <!--infotext in infobox-->
                            <div id="info-wrapper" class="col-lg-12">
                                <div class="row">
                                    <hr style="width:800px; height: 1px; background-color:white;">
                                    <!--infotext-->
                                    <div class="col-md-8">
                                        <br/>
                                        <!--send button-->
                                        <div id="buttonPadding" >
                                            <input class="button" type="submit" value="Ta bort" data-bind="click: deletePart" />
                                        </div>
                                        <!--send button ends-->
                                    </div>
                                    <!--infotext ends-->
                                </div>
                            </div> 
                            <!--info in infobox ends-->
                        </div>
                    </div>
                </form>
            </div>
            <!--add form ends-->
        </div>
    </div>        
</body>
</html>