<!DOCTYPE html>
<html>
<head>
    <!--Metadata-->
    <title>Lägg till aktör</title>
    <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-git.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
    <script src="./../Scripts/partsAdd.js" defer="defer"></script>
    <script src="./../Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="index.html"><img class="mr-2" src="./../Style/images/svenska_freds-logo.png" height="65" > Vapenkarta Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KARTA</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="mapAdd.html">Lägg till</a>
                                <a class="dropdown-item" href="mapUpdate.html">Redigera</a>
                                <a class="dropdown-item" href="mapDelete.html">Radera</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STATISTIK</a>
                            <div class="dropdown-menu active" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="statisticsAdd.html">Lägg till</a>
                                <a class="dropdown-item active" href="statisticsUpdate.html">Redigera</a>
                                <a class="dropdown-item" href="statisticsDelete.html">Radera</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AKTÖRER</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="participantsAdd.html">Lägg till</a>
                                <a class="dropdown-item" href="participantsUpdate.html">Redigera</a>
                                <a class="dropdown-item" href="participantsDelete.html">Radera</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>

        
        <div class="row justify-content-center">
            <!--Form header-->
            <div class="header-form col-lg-12">
                <h1>LÄGG TILL EN AKTÖR</h1>
            </div>
            <!--Form wrapper-->
            <div id="admin-form" class="col-md-8 col-lg-8">
                <form>

                        <div class="row">
                            <!--Image URL input-->
                            <div class="form-group col-md-8">
                                <p data-bind="css: {error: img.hasError}">
                                    <label for="img">Bildlänk</label>
                                    <input class="form-control" id="img" type="text" placeholder="Bildlänk" data-bind="value: img, valueUpdate: 'afterkeydown'" />
                                    <span data-bind="visible: img.hasError, text: img.validationMessage"></span>
                                </p>
                            </div>
                            <!--Image title input-->
                            <div class="form-group col-md-4">
                                <p data-bind="css: {error: title.hasError}">
                                    <label for="title">Bildtitel</label>
                                    <input class="form-control" id="title" type="text" placeholder="Bildtitel" data-bind="value: title, valueUpdate: 'afterkeydown'" />
                                    <span data-bind="visible: title.hasError, text: title.validationMessage"></span>
                                </p>
                            </div>
                        </div>

                            <div id="info-wrapper" class="col-lg-12">
                                <div class="row">
                                    <!--links-->
                                    <div class="col-md-4" style="text-align: center">
                                        <div class="optionBox">
                                            <div class="block">
                                                <div class="add" data-bind="click: function() {links.push({logoTitle:'', logoLink:''});}"><i class="far fa-plus-square fa-2x"></i></div>
                                            </div>
                                            <div data-bind="foreach: links">
                                                    <div id="card-wrapper">
                                                        <div class="card mb-2">
                                                            <div class="card-header">
                                                                <p>Länk</p>
                                                                <div class="remove" data-bind="click: function() {viewModel.links.remove($data);}">
                                                                    <i class="remove far fa-minus-square fa-lg removeLink" style="position: absolute; right: 10px;"></i>
                                                                </div>
                                                            </div>
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item">
                                                                    <input class="form-control" type="text" placeholder="Titel" data-bind="value: logoTitle, valueUpdate: 'afterkeydown'" />
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <input class="form-control" type="text" placeholder="Länk" data-bind="value: logoLink, valueUpdate: 'afterkeydown'" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--links ends-->
                                    <!--infotext-->
                                    <div class="col-md-8">
                                        <br/>
                                        <div class="form-group">
                                            <p data-bind="css: {error: info.hasError}">
                                                <label>Information</label>
                                                <textarea class="form-control" id="textBox" type="text" placeholder="Information" data-bind="value: info, valueUpdate: 'afterkeydown'"></textarea>
                                                <span data-bind="visible: info.hasError, text: info.validationMessage"></span>
                                            </p>
                                        </div>
                                        <!--send button-->
                                        <div id="buttonPadding" >
                                            <input class="button" type="submit" value="Lägg till" data-bind="click: postPart" />
                                        </div>
                                        <!--send button ends-->
                                    </div>
                                    <!--infotext ends-->
                                </div>
                            </div> 
                            <!--info in infobox ends-->
                        </div>
                </form>
            </div>
            <!--add form ends-->
        </div>
    </div>        
</body>
</html>