<!DOCTYPE html>
<html>
<head>
    <!--metadata-->
    <title>Ta bort data</title>
    <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/bootstrap-grid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-git.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
    <script src="./../Scripts/statsRemove.js" defer="defer"></script>
    <script src="./../Scripts/bootstrap.min.js"></script>
    <!--metadata ends-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
               <!--navbar--> 
                <nav class="navbar navbar-expand-lg  " id="navbarStyle">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container-fluid collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <!--navbar items-->
                            <li class="nav-item dropdown">
                                <!--map -->
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KARTA</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="mapAdd.html">Lägg till</a>
                                    <a class="dropdown-item" href="mapUpdate.html">Redigera</a>
                                    <a class="dropdown-item" href="mapDelete.html">Ta bort</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <!--statistics-->
                                <a class="nav-link dropdown-toggle activeTab" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">STATISTIK</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="statisticsAdd.html">Lägg till</a>
                                    <a class="dropdown-item" href="statisticsUpdate.html">Redigera</a>
                                    <a class="dropdown-item active" href="statisticsDelete.html">Ta bort</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <!--participants-->
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AKTÖRER</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="participantsAdd.html">Lägg till</a>
                                    <a class="dropdown-item" href="participantsUpdate.html">Redigera</a>
                                    <a class="dropdown-item" href="participantsDelete.html">Ta bort</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--navbar ends-->
            </div>
            <!--title-->
            <div class="header-form col-lg-12">
                <h1>TA BORT ETT ÅRTAL</h1>
            </div>
            <!--add form-->
            <div id="countryForm" class="col-lg-8 offset-lg-2">
                <form>
                    <div class="form">
                        <div class="row">
                            <!--year-->
                            <div class="form-group col-md-12">
                                <p data-bind="css: {error: selectedYear.hasError}">
                                    <label for="year">Årtal</label>
                                    <select class="form-control" id="year" data-bind="options: years, optionsText: 'Year', value: selectedYear, optionsCaption:'-- Välj Årtal --'" ></select>
                                    <span data-bind="visible: selectedYear.hasError, text: selectedYear.validationMessage"></span>
                                </p>
                            </div>
                             </div>
                                <div class="row">
                                <!--send button-->
                                <div class="col-md-12">
                                <div id="buttonPadding" >
                                    <input class="button" type="submit" value="Ta Bort" data-bind="click: deleteStat" />
                                </div>
                                </div>
                                <!--send button ends-->
                                </div>                     
                    </div>
                </form>
            </div>
            <!--add form ends-->
        </div>
    </div>        
</body>
</html>