<!DOCTYPE html>
<html>
<head>
    <title>Redigera data</title>
    <link rel="stylesheet" href="./../Style/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/bootstrap-theme.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="./../Style/main.css" type="text/css" media="screen" />
    <script src="http://code.jquery.com/jquery-git.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" defer="defer"></script>
    <script src="./../Scripts/dataform.js" defer="defer"></script>
    <script src="./../Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1>Fyll i nedan</h1>
        <br />
        <form>
            <div data-bind="css: {error: country.hasError}">
                <input type="text" placeholder="Land" data-bind="value: country, valueUpdate: 'afterkeydown'"/>
                <span data-bind="visible: country.hasError, text: country.validationMessage"></span>
            </div>
            <div data-bind="css: {error: code.hasError}">
                <input type="text" placeholder="Landskod" data-bind="value: code, valueUpdate: 'afterkeydown'" />
                <span data-bind="visible: code.hasError, text: code.validationMessage"></span>
            </div>
            <div data-bind="css: {error: FHstatus.hasError}">
                <input type="text" placeholder="Demokratisk status" data-bind="value: FHstatus, valueupdate:'afterkeydown'" />
                <span data-bind="visible: FHstatus.hasError, text: FHstatus.validationMessage"></span>
            </div>
            <div data-bind="css: {error: gpi.hasError}">
                <input type="text" placeholder="GPI - ranking" data-bind="value: gpi, valueupdate: 'afterkeydown'" />
                <span data-bind="visible: gpi.hasError, text: gpi.validationMessage"></span>
            </div>
            <button class="button">Lägg till flera länkar</button>
            <div id="linkArea" data-bind="css: {error: links.hasError}">
                <input type="text" placeholder="Länk" data-bind="value: links, valueUpdate: 'afterkeydown'" />
                <span data-bind="visible: links.hasError, text: links.validationMessage"></span>
            </div>
            <h3>Välj världsdel</h3>
            <div data-bind="css: {error: links.hasError}">
                <select data-bind="options: collections, optionsText: 'collectionName', value: selectedCollection"></select>
            </div>
            <div id="textareaPadding" data-bind="css: {error: info.hasError}">
                <textarea id="textBox" type="text" placeholder="Information" data-bind="value: info"></textarea>
                <span data-bind="visible: info.hasError, text: info.validationMessage"></span>
            </div>
            
            <div id="buttonPadding" >
                <input class="button" type="submit" value="Lägg till" data-bind="click: postCountry, style: { visibility: country.hasError ? 'hidden' : 'visible' }" /> 
                <span id="confirm"></span>
            </div>
        </form>
    </div>
</body>
</html>